@import '../../main.scss';

.button-container {
    display: flex;
    justify-content: center;
    margin-left: 2 * $U; 
    button{
        margin: $defaultMargin; 
        padding: $defaultPadding; 
        font-size: $bodyFontSize; 
        background-color: $colorAccent1; 
        color: $colorNeutralLight; 
        border: none;
        border-radius: $U;
        cursor: pointer;
    }
    button:hover {
        background-color: darken($colorAccent1, 10%);
    }
}
