@import '../../../main.scss';

.updateProfile {
    form {
        @media(max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }
        .personalInformations {
            @media(max-width: 1000px) {
                width: 80% !important;
                margin: $defaultMargin;
            }
            h1 {
                @media(max-width: 430px) {
                    font-size: $bodyFontSize;
                }
            }
        }
    }
}