@import '../main.scss';
.header {
    background-color: $colorAccent3;
    padding: $U $defaultPadding; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10 * $U;
}

.logo {
    display: flex;
    align-items: center; 
    img{
        width: 1.875rem;
        height: auto;
    }
    h1{
        color: $colorNeutralDark;
    }
}


.logo-text {
    margin-left: $defaultMargin; 
    font-size: $subHeadingFontSize; 
    font-weight: $headingFontWeight;
    color: $colorAccent1; 
}

.nav ul {
    display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    li {
        margin-left: $defaultMargin;
        a {
            color: $colorAccent1; 
            text-decoration: none; 
            font-weight: $headingFontWeight; 
            img {
                width: 5*$U;
                height: auto;
                margin-right: $defaultMargin;
                margin-left: $defaultMargin
            }
        }
    }
    
}

.nav ul li:first-child {
    margin-left: 0;
}
