@import '../../main.scss';

.passwordPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $colorNeutralLight;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    form {
        display: flex;
        flex-direction: column;
        input {
            margin-bottom: 10px;
            padding: 8px;
            border: 1px solid $colorAccent1;
            border-radius: 4px;
            font-size: 14px;
            background-color: transparent;
          }
          button {
            padding: 8px 16px;
            background-color: $colorNeutralDark;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
          }
          
          button:hover {
            background-color: $colorAccent1;
          }
      }
  }