@import '../../../main.scss';

.list-nfts-container {
  margin: $defaultMargin;
  padding: $defaultPadding;

  h2 {
    font-size: $headingFontSize;
    font-weight: $headingFontWeight;
    color: $colorAccent1;
    margin-bottom: $defaultMargin;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: $U4;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: $defaultMargin;
      flex: 1 1 calc(25% - #{$defaultMargin * 3});
      max-width: calc(25% - #{$defaultMargin * 3});
      margin-bottom: $defaultMargin;
      padding: $defaultPadding;
      background-color: $colorNeutralLight;
      border-radius: $U;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: 70%;
        border-radius: $U;
        margin-bottom: $defaultMargin;
      }

      div {
        font-size: $bodyFontSize;
        color: $colorNeutralDark;
        margin-bottom: $U;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      @media screen and (max-width: 768px) {
        flex: 1 1 calc(50% - #{$defaultMargin * 3});
        max-width: calc(50% - #{$defaultMargin * 3});

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}