$colorAccent1: #16502d;
$colorAccent2: #37c871;
$colorAccent3: #55ff99;
$colorAccent4: #b3ff80;

$colorNeutralDark: #4a504d;
$colorNeutralMedium: #b7c8ba;
$colorNeutralLight: #e0f0e4;

$U: 0.25rem;
$U4: 4 * $U;
$U1: 1 * $U;
$U2: 2 * $U;
$U4: 4 * $U;

$titleFontSize: 8 * $U;
$headingFontSize: 6 * $U;
$subHeadingFontSize: 5 * $U;
$bodyFontSize: 4 * $U;
$smallFontSize: 2.5 * $U;

$titleFontWeight: 900;
$headingFontWeight: 700;
$subHeadingFontWeight: 700;
$bodyFontWeight: 500;
$smallFontWeight: 400;

$defaultPadding: 1.5 * $U;
$defaultMargin: 2 * $U;

$largePadding: 5 * $U;