@import '../../../main.scss';

.resetForm {
    text-align: center;
    input {
        border: none;
        border-bottom: 1px solid black;
        background-color: $colorAccent4;
        height: $U4 * 2;
    }

    .titleForm {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: $headingFontSize;
            color: $colorAccent1;
            padding: $defaultPadding;
        }
    }

    .form {
        margin: $defaultMargin;
        padding: $largePadding;
        background-color: $colorAccent4;
        width: 100%;

        .buttonsForm {
            margin-top: $U4;
            display: flex;
            flex-direction: column;
            button {
                background-color: $colorAccent1;
                border-color: $colorAccent4;
                color: $colorAccent4;
                padding: $defaultPadding;
                margin: $defaultMargin;
            }
        }
    }
}

