@import '../../../main.scss';

.twoAuthProfile {

    @media(max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }
   
    @media(max-width: 430px) {
        button {
            width: 50%;
        }
    }

}